# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.gitIgnore
.settings
build.gradle
settings.gradle
.classpath
.project
.gitattributes
gradlew.bat
gradlew
